#contact {
    background-color: rgb(250, 247, 247);
    height: 100vh;
  }
  
  .circle-container {
    display: flex;
    flex-wrap: wrap; /* Wrap items to the next row on smaller screens */
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    /* background-color: rgb(0, 0, 0); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .icon {
    font-size: 24px;
    color: rgb(0, 0, 71);
  }
  
  .text {
    margin-left: 10px; /* Add spacing between icons and text */
  }
  

  .circle2 {
    width: 40px;
    height: 40px;
    background-color:rgb(0, 0, 71);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .icon2 {
    font-size: 24px;
    color: rgb(194, 190, 227);
  }
  
  .img{
    font-size: 20px;
    width: 30px;
    height: 30px;
    
  }
/* 
  .antd-but{
    color: rgb(255, 255, 255);
    margin-top: 40px;
    background-color: #1e2063;
   
  } */

  .antd-but {
    color: rgb(255, 255, 255);
    margin-top: 40px;
    background-color: rgba(30, 32, 99, 0.8); /* Semi-transparent background color */
    backdrop-filter: blur(10px); /* Apply background blur */
    border: none;
    /* padding: 10px 20px; */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
   
  }
  
  .antd-but:hover {
    background-color: rgba(30, 32, 99, 0.9); /* Darker background color on hover */
    color: black;  
}
  
/* @media (max-width: 768px) {

  #contact{
    width: 105%;
  }
  .contact{
    width: 105%;
  }
} */
