body{
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

section {
  padding: 50px 0;
  text-align: center;
}

/* #resume {
  background-color: #e0e0e0;
  height: 100vh;
} */

/* #projects {
  background-color: #cccccc; 
  height: 100vh;
} */

/* Active link style */
.active {
  color: #c0baba !important;
}
